html {
	font-family: 'Abela', 'Calibri', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #FFFFFF;
}

main {
	flex: 1 0 auto;
}

h1 {
	color: #4db6ac;
}
h2 {
	color: #4db6ac;
}
h3 {
	color: #4db6ac;
}
h4 {
	color: #4db6ac;
}
h5 {
	color: #4db6ac;
}

/* use center to center img */
img.center {
	display: block;
	margin: 0 auto;
}

div#container {
	overflow: hidden;
	padding: 10px;
}

div#tape {
	/* relative position is very important to be able to scroll to a tile element (position().left relative to the parent) */
	position: relative; 
	display: inline-block;
	white-space: nowrap;
	max-height: 500px;
}

div.cell {
	display:inline-block;
	
	/* size */
	min-height: 50px;
	min-width: 50px;

	/* center content */
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#speedInput {
	margin-top: 25px;
}

#setButton {
	margin-left: -15px;
	margin-top: 20px;
}
#setButton a{
	padding-left: 10px;
	padding-right: 10px;
}

#controlBar {
	position: fixed;
	width: 100%;
	padding: 1.5%;
	bottom: 0;
}
@media screen and (max-width: 1900px) {
	#controlBar {
		background-color: rgba(42, 244, 255, 0.12);
	}
}

div.state-info {
	padding: 5px;
	display: inline-block;
}
div.state-info div {
	display: inline-block;
	color: #78909c;
}



